{% extends "base.html" %}

{% block body %}

<div class="post" id="entry={{post.id}}">

    <div class="post-heading">
        <div class="post-title">
            {{ post.title }}
        </div>
    </div>

    <div class="post-content">
        <div class="post-date">
            Posted on {{ post.created|date:"m/d/y" }}
        </div>
        {{ post.body_html|safe }}
        <br/>
        <br/>
        <a href="https://twitter.com/share" class="twitter-share-button"
           data-text="{{post.title}}"
           data-lang="en"></a>
    </div>
</div>

{% endblock %}
