{% extends "base.html" %}

{% block body %}

<h2>About me:</h2>
<div class="post-content">
    <p>
        In 2014 I learned to code and moved from Philly to Seattle for the <a
            href="http://www.codefellows.org">Codefellows Python Dev
        Accelerator</a>.
        I landed my first job as a backend developer at <a
            href="http://www.offerupnow.com">OfferUp</a>, and now am back on the
        east coast in NYC working at <a href="https://www.yext.com">Yext</a>
        as a system engineer.
        <br>
        <br>
        I primarily program in Python and wrote this blog in Python3 with Django,
        the code can be found <a
            href="https://github.com/johnshiver/johnshiver.org">here</a>.

    </p>

    <h2>Recent posts:</h2>

    <table class="table table-condensed">
        {% for post in posts %}
        <tr>
            <td style="font-size: 15px" width="10%">
                {{ post.created|date:"m/d/y" }}
            </td>
            <td><a href="/blog/{{post.slug}}"> {{ post.title }}</a></td>
        </tr>

        {% endfor %}
    </table>

    <h2>Recent commits:</h2>
    <div class="commits">
        <table class='table table-condensed'>
            {% for commit in commits %}
            <tr>
                <td>
                    <a style="font-size: 12px;" href="{{ commit.repo_url }}">{{ commit.repo_name }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="commit-date">{{ commit.date|date:"b d"}}</div><div class="commit-content">{{ commit.message }}</div>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <h2>Tweetin:</h2>
    <div class="tweets">
        <table class='table table-condensed'>
            {% for tweet in tweets %}
            <tr>
                <td>
                    <div class="tweet-date">{{ tweet.date|date:"b d" }}
                    </div>
                </td>
                <td>
                    <div class="tweet-content">{{tweet.text}}</div>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
</p>
</div>

{% endblock %}
